version: "3.0"
services:
  httpd:
    build:
      args:
        IMAGE: "jdeathe/centos-ssh-apache-php:3.3.2"
    environment:
      APACHE_MPM: "event"
  redis:
    image: "jdeathe/centos-ssh-redis:3.1.0"
